.row.mb-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row.mb-3.form-box {
    display: flex;
    justify-content: left;
    align-items: left;

}
.btn-secondary {
    margin-left: 280px;
}
.btn-success {
    margin-left: 1000px;
}
